@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

body {
  font-family: monospace;
}
/* si le premier et pas trouver prend le deuxieme */
h1 {
  font-family: Kanit, sans-serif;
  font-weight: bold;
}

a {
  font-size: 40px;
  text-decoration: none;
}

.p1 {
  line-height: 0.8em;
  text-transform: uppercase;
  text-decoration: line-through;
}

.p2 {
  letter-spacing: 5px;
  text-transform: lowercase;
  text-decoration: overline;
}

.p3 {
  word-spacing: 20px;
  text-transform: capitalize;
  text-decoration: underline;
}