div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one{
  background: red;
  transform: translateX(50%);
}
.two{
  background: green;
  transform: translateY(30px);
}
.three{
  background: blue;
  transform: translate(60px, 80px);
}